body {
    background-color: rgb(192, 218, 206);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
    color: darkslategray;
}
h2 {
    text-align: left;
    color: rgb(73, 91, 91);
    margin: 15px;
}